.broker-logo {
    height: 100px;
    width: 200px;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f6f6f6;
    height: 100px;
    width: 200px;
}

.scheme-1 {
    background-image: url('/assets/images/idp1.png');
}

.scheme-2 {
    background-image: url('/assets/images/idp2.png');
}

.logo-img-1 {
    background-image: url('/assets/images/a.png');
}

.logo-img-2 {
    background-image: url('/assets/images/b.png');
}

.logo-img-3 {
    background-image: url('/assets/images/c.png');
}

.logo-img-4 {
    background-image: url('/assets/images/d.png');
}

.logo-img-5 {
    background-image: url('/assets/images/e.png');
}

.logo-img-6 {
    background-image: url('/assets/images/f.png');
}
