<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pick an IDP</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" method="post" action="/formPost/serviceAuthenticationRequest">
        <img class="mb-4" src="/assets/images/logo.png" alt="" width="85" height="72">
        <h1 class="h1 mb-3 font-weight-heavy">Validating your identity</h1>

        <p class="mt-3 mb-5">Before getting a criminal record check you need to validate your identity</p>

        <h3 class="h3 mb-3">Use your existing digital identity</h3>

        {{#idps}}
            <button class="btn btn-lg btn-primary btn-block logo logo-img-{{index}}" name="idpDomain" value="{{domain}},{{name}}" type="submit">
                Continue with {{name}}
            </button>
        {{/idps}}

        <h3 class="h3 mt-5 mb-3">Use our partner verification service</h3>

        {{#brokers}}
            <button class="btn btn-lg btn-primary btn-block logo logo-img-{{index}}" name="idpDomain" value="{{domain}},{{name}}" type="submit">
                Continue with {{name}}
            </button>
        {{/brokers}}

        <p class="mt-5 mb-3 text-muted">&copy; Build and Learn 2019</p>
    </form>
</body>
</html>
